supervisor
amqp==5.3.1
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
billiard==4.2.1
blinker==1.6.2
celery==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cligj==0.7.2
colorama==0.4.6
contourpy==1.3.1
crontab==1.0.1
cycler==0.12.1
DateTime==5.2
esda==2.5.0
fiona==1.10.1
Flask==2.3.3
Flask-RQ2==18.3
Flask-Session==0.8.0
Flask-WTF==1.1.1
fonttools==4.56.0
freezegun==1.2.2
geographiclib==2.0
geopandas==0.13.2
geopy==2.4.0
gunicorn==21.2.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.8
kombu==5.4.2
libpysal==4.12.1
mapclassify==2.8.1
MarkupSafe==2.1.3
matplotlib==3.10.0
networkx==3.1
numpy==2.2.3
osmnx==1.6.0
packaging==23.1
pandas==2.2.3
pillow==11.1.0
platformdirs==3.10.0
pointpats==2.5.1
prompt_toolkit==3.0.50
PuLP==2.7.0
pyparsing==3.2.1
pyproj==3.7.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3
redis==5.0.0
requests==2.31.0
rq==1.15.1
rq-scheduler==0.13.1
Rtree==1.3.0
scikit-learn==1.6.1
scipy==1.15.1
setuptools==75.8.0
shapely==2.0.7
six==1.16.0
soupsieve==2.4.1
spaghetti==1.7.4
spopt==0.6.1
threadpoolctl==3.2.0
tqdm==4.66.1
tzdata==2023.3
urllib3==2.0.4
vine==5.1.0
wcwidth==0.2.13
Werkzeug==2.3.7
WTForms==3.0.1
zope.interface==6.0

