<!DOCTYPE html>
<html>

<script>

</script>
  <head>
    <meta charset="utf-8">
		
    <style>
      h1 {
        border-bottom: double;
        }
    </style>
    <title></title>
  </head>
  <style>
h1 {
  text-align: center;
}
</style>
  <body style="background-color:silver;" >
    <h1>Decision support system to find optimal retail locations</h1>

      
		<br><br>
    		  <p>Retail locations are uploaded now. </p>
    		  <br>
		  <p>Step 3:: Upload a csv file with preferred/existing facilities</p>
          <p>Click on the "Choose File" button to upload a CSV file:</p>
		  
		<form method="POST" action="/facility" enctype="multipart/form-data">
            <input type="file" name="file" accept=".csv">
            <input type="submit" value="Upload">
        </form>	
		  <br><br>
		  
		<h2>Example File:</h2>
        <p>Note: Leave the header and file name as it is and update the column with 1 or 0 based on the uploaded retail locations order.  </p>
        Here are few scenarios to think
        <p>
                Scenario 1: If there are four retail locations and you want to find the optimal one of the last two locations. <br>
            Keep 1 for the first two locations and 0 to the last two locations. (Example Column: 1 1 0 0) <br>
            P Value in the next step should be 3 in this case. The DSS will help you to find optimal location from the last two locations  </p>
            <p>
            Scenario 2: If there are five existing retail locations and you want to remove two of the locations. <br>
                Keep 0 for all the five locations. ( Example Column: 0 0 0 0 0) <br>
                P Value in the next step should be 3 in this case. The DSS will help you to find two optimal locations </p>
        <p><a href="{{ url_for('download_facility') }}">Download Example File</a></p>
		<br><br>
                  
  </body>
</html>
