<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- jQuery AJAX call -->
<script type="text/javascript">
$(document).ready(function() {
    $('#myForm').submit(function(e) {
        e.preventDefault();  // prevent the form from being submitted normally
        $('#spinner').show();
        var formData = $(this).serialize();  // serialize the form data for submission
        $.ajax({
            type: 'POST',
            url: '/pfac',
            data: formData,
            success: function(data) {
                // do something with the returned data
                window.location.href = data.redirect_url;
            },
            error: function(xhr, status, error) {
                // hide the spinner
                $('#spinner').hide();
                // display an error message
                alert('An error occurred: ' + status + '\n' + error);
            },
            complete: function() {
                // hide the spinner when the request is complete,
                // whether it succeeded or failed
                $('#spinner').hide();
            }
        });
    });
});
</script>



  <head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <meta charset="utf-8">
		
    <style>
      h1 {
        border-bottom: double;
        }
    </style>
    <title></title>
  </head>
  <style>
h1 {
  text-align: center;
}
</style>
  <body style="background-color:silver;" >
  
    <h1>Decision support system to find optimal retail locations</h1>

		
		<br><br>
		
		<h3>Facility locations and preferences are provided. Please verify your addresses in the below map. <br>
		In this step choose the number of Facilities. </h3>
      <br>
       
    
		  
		  <form method="POST" action="/pfac" enctype="multipart/form-data" id="myForm">
            <label for="facilities">Choose the number of Facilities including potential and existing: :</label>
            <select id="facilities" name="facilities">
                <option value=1>1</option>
				<option value=2>2</option>
				<option value=3>3</option>
				<option value=4>4</option>
				<option value=5>5</option>
				<option value=6>6</option>
				<option value=7>7</option>
				<option value=8>8</option>
				<option value=9>9</option>
				<option value=10>10</option>
				<option value=11>11</option>
				<option value=12>12</option>
				<option value=13>13</option>
				<option value=14>14</option>
				<option value=15>15</option>
				<option value=16>16</option>
				<option value=17>17</option>
				<option value=18>18</option>
            </select>
            
            <br><br>
            <input type="submit" value="Submit">
        </form>
         <!-- Your spinner -->
   <div id="spinner" class="spinner-border" role="status" style="display: none;">
   <span class="sr-only">Loading...</span>
   </div>
        </form>
    
    
    <div id="mapid" style="height: 600px;"></div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    
    <script>
        var map = L.map('mapid').setView([54.5260, 15.2551], 4);  // Initialize map
    
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 12
        }).addTo(map);
    
        var markers = [];

        {% for address in addresses %}
            var marker = L.marker([{{address.lat}}, {{address.lon}}]).addTo(map);
            marker.bindPopup("<b>{{address.address}}</b>");
            markers.push(marker.getLatLng());
        {% endfor %}
    
        if (markers.length > 0) {
            var group = new L.LatLngBounds(markers);
            map.fitBounds(group);
    }
    </script>

        
  </body>
</html>
